
 <div class="row animated fadeIn">
  <div class="jumbotron j1">
    <h1 class="display-4">Heroes</h1>
    <p class="lead">Esta es una aplicacion de heroes</p>
    <hr class="my-4">
    <p>Aplicaciones de Heroes</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
 </div>
 <div class="row">
   <div class="col-md-12 separator">
      <h3>{{t1}}</h3>
   </div>
 </div>
 
 <div class="row animated fadeIn fast">
    <div class="col-md-8">
      <div class="container" id="quote">
        <blockquote class="blockquote">
          <p>With all great power cames great responsability</p>
          <footer class="blockquote-footer">
            Stan Lee
          </footer>
        </blockquote>
      </div>      
    </div>
    <div class="col-md-9 wall">

    </div>
  </div>
